<!DOCTYPE html>
<html>
  <head>
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5b7999d9795066001124e1d5&product=inline-share-buttons' async='async'></script>

    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/webdemo/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/webdemo/">Home</a></li>
<li><a href="/webdemo/about">About</a></li>
<li><a href="/webdemo/cv">Resume</a></li>
<li><a href="/webdemo/blog">Trainings & Workshops</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:arunsisu@gmail.com">email</a></li>
   <li><a href="https://github.com/arunsiddappaji">github.com/arunsiddappaji</a></li>
   </ul>
  </footer>
  </body>

</html>
